<div class="container">
  <h1 class="mt-5">About Y</h1>
  <h2 class="mt-3">More about us</h2>
  <p>Y is a service that allows groups of friends, family and co-workers to communicate and stay in touch through quick and frequent messages. People publish posts, which can contain photos, videos, links, and text.</p>
</div>
